{% extends "bootstrap/base.html" %}
{% block title %}QB_CMDB{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">QB_CMDB</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
	<div class="navbar-collapse collapse col-lg-1 pull-right">
	    <ul class="nav navbar-nav">
		<li><a href="#">Hello,{{ name }}</a></li>
	    </ul>
	</div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="col-lg-2 pull-right">
<a href="/insert"><button type="button" class="btn btn-default">新增</button></a>
<a href="/update"><button type="button" class="btn btn-default">更新</button></a>
<a href="#"><button type="button" class="btn btn-default">删除</button></a>
</div>
<div>
	<table class="table table-bordered">
	 <thead>
	  <tr>
	   <th>类型</th>
	   <th>机房</th>
	   <th>状态</th>
	   <th>主机名</th>
	   <th>应用名称</th>
	   <th>内网IP</th>
	   <th>应用负责人</th>
	   <th>管理IP</th>
	   <th>操作系统</th>
	   <th>激活</th>
	   <th>机架位置</th>
	   <th>生产商</th>
	   <th>保修日期</th>
	   <th>设备型号</th>
	   <th>序列号</th>
	   <th>CPU</th>
	   <th>内存</th>
	   <th>硬盘Raid</th>
	   <th>外连存储</th>
	  </tr>
	  {% for a in range(0,rows) %}
	     <tr>
		{%for b in range(1,6) %}
		  <th> {{ host[a][b] }} </th>
		{%endfor%}
		  <th><a hreh="/ip/{{ host[a][6] }}">{{ host[a][6]}}</a></th>
		{%for b in range(7,20) %}
		  <th> {{ host[a][b] }} </th>
		{%endfor%}
	     </tr>
	  {%endfor%}
</div>
{% endblock %}
