{% extends "bootstrap/base.html" %}
{% block title %}QB_CMDB{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">QB_CMDB</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home">主页</a></li>
            </ul>
	{%if session.get('role') == 'admin'%}
            <ul class="nav navbar-nav">
                <li><a href="/manageruser/main">账号管理</a></li>
            </ul>
	{%endif%}
	<div class="navbar-collapse collapse col-lg-1 pull-right">
            <ul class="nav navbar-nav">
                <li><a href="#">Hello,{%if current_user.is_authenticated %}{{ current_user.name }}{%else%}Guest{%endif%}</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('user.userchange')}}">{%if current_user.is_authenticated %}修改密码{%endif%}</a></li>
            </ul>
	    <ul class="nav navbar-nav navbar-right">
		{% if current_user.is_authenticated %}
		<li><a href="{{ url_for('user.logout') }}">登出</a></li>
		{% endif %}
	    </ul>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
        {{ form.csrf_token }}
	{% block page_content %}{% endblock %}
</div>
{% endblock %}
