{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-md-6">
<a href="/hosts"><button type="button" class="btn btn-default">全部服务器</button></a>
<a href="/pmhost"><button type="button" class="btn btn-default">物理服务器</button></a>
<a href="/vmhost"><button type="button" class="btn btn-default">虚拟服务器</button></a>
</div>
{%if session.get('role') == 'admin' %}
<div class="col-lg-3 pull-right">
<a href="/insert"><button type="button" class="btn btn-default">新增</button></a>
<a href="/off"><button type="button" class="btn btn-default">下架</button></a>
<a href="/export"><button type="button" class="btn btn-default">导出Excel</button></a>
</div>
{%endif%}
</div>
</div>
<div>
	<table class="table table-bordered">
	 <thead>
	  <tr>
	   <th>类型</th>
	   <th>状态</th>
	   <th>主机名</th>
	   <th>应用名称</th>
	   <th>内网IP</th>
	   <th>应用负责人</th>
	   <th>操作系统</th>
	   <th>激活</th>
	   <th>CPU/核</th>
	   <th>内存/G</th>
	   <th>集群</th>
	   <th>硬盘Raid</th>
	   <th>项目分组</th>
	  </tr>
	</thead>
	<tbody>
	  {% for a in host %}
	     <tr>
		  <th> {{a.htype}} </th>
		  <th>{{a.status}}</th>
		  <th>{{a.hostname}}</th>
		  <th>{{a.app}}</th>
		{%if session.get('role') == 'admin' %}
		  <th><a href="/ip/{{a.ip}}">{{a.ip}}</a></th>
		{%else%}
		  <th>{{a.ip}}</th>
		{%endif%}
		  <th>{{a.user}}</th>
		  <th>{{a.os}}</th>
		  <th>{{a.active}}</th>
		  <th>{{a.cpu}}</th>
		  <th>{{a.ram}}</th>
		  <th>{{a.cluster}}</th>
		  <th>{{a.disk}}</th>
		  <th>{{a.gname}}
	     </tr>
	</tbody>
	  {%endfor%}
</div>
{% endblock %}
